{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Get Set Fit</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'fitme/img/favicon.png' %}" rel="icon">
  <link href="{% static 'fitme/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Lato:400,300,700,900" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'fitme/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'fitme/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'fitme/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'fitme/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'fitme/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container">

      <div class="logo float-left">
        <h1 class="text-light"><img src="{% static 'fitme/logo.png' %}" ></a><a href="{% url 'home' %}"><span>Get Set Fit</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
      </div>

      <nav class="nav-menu float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home' %}">Home</a></li>
          <li><a  href="{% url 'profile' %}">Profile</a></li>
          <li class="drop-down"><a href="">Feature</a>
            <ul>
              <li><a  href="{% url 'createfitme' %}">Add Food</a></li>
              <li><a  href="{% url 'currentfitmes' %}">Food Consumed</a></li>
              <li><a  href="{% url 'search-in-ml' %}">Snap-O-Food</a></li>
              <li><a href="#" class="text-muted">Get Your BMI</a></li>
              <li><a href="#" class="text-muted">Check Your Body Type</a></li>
            </ul>
          </li>
          {% if user.is_authenticated %}
                <li><a href="#" onclick="$('#signOutBtn').click()">Logout</a>
                    <form style='display: none;' method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button id="signOutBtn" type="submit">Logout</button>
                    </form>
                </li>
            {% else %}
                <li><a href="{% url 'register' %}">Sign Up</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
           <li><a href="#about">About Us</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End #header -->

  <main id="main">



    <!-- ======= Portfolio Details Section ======= -->


    <section class="portfolio-details">
      <div class="container">
    {% block content %}{% endblock %}
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Get Set Fit</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
        
      </div>
    </div>
  </footer><!-- End #footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'fitme/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'fitme/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'fitme/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'fitme/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'fitme/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'fitme/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'fitme/vendor/owl.carousel/owl.carousel.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'fitme/js/main.js' %}"></script>

</body>

</html>

